<!DOCTYPE html>
<html lang="ko-KR" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">
<meta content="ie=edge" http-equiv="X-UA-Compatible">
<body>
    <article>
        <h1 th:text="'[심사숙박] 예약 (체크인 :  ~ 체크아웃 )'"></h1>
        <h1>안녕하세요.</h1>
        <h1>XXX님의 예약이 확정되었습니다.</h1>
        <p>예약 번호는 XXX이며, 자세한 내용은 아래 버튼을 클릭 시, 연결되는 예약 내역 기능을 통해 예약 정보 확인 및 취소가 가능합니다. </p>
        <a href="#" style="background-color:#5392f9;display:inline-block;margin:0 auto;max-width:400px;border-radius:4px;color:#fff;font-size:16px;font-weight:bold;border:solid #5392f9;border-width:12px 82px;text-decoration:none"  ><!--data-saferedirecturl="#"-->
            예약 관리
        </a>
        <!--TODO 예약 숙소명, 이미지, 장소, 체크인, 체크아웃, 숙박업자 메일 및 전화번호-->
    </article>
</body>
</html>