<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>

</style>
<body>
<!-- Topbar Start -->
<!-- Navbar & Hero Start -->
<div class="container-fluid position-relative p-0" th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="/" class="navbar-brand p-0">
            <h1 class="m-0"><i class="fa fa-map-marker-alt me-3"></i>심사 숙박</h1>
            <!-- <img src="img/logo.png" alt="Logo"> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="/" class="nav-item nav-link active">홈</a>
                <a href="/accommodation?keyword=&startDate=&endDate=" class="nav-item nav-link">숙소 찾기</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" sec:authorize="isAuthenticated()">My Page</a>
                    <div class="dropdown-menu m-0">
                        <a href="/mypage" class="dropdown-item">내 정보</a>
                        <a href="" class="dropdown-item">예약 내역</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">숙소 관리</a>
                    <div class="dropdown-menu m-0">
                        <a href="/myAccommodation/1" class="dropdown-item">내 숙소 관리</a>
                        <a href="" class="dropdown-item">예약 관리</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- Topbar End -->
</body>

</html>