<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<style>

</style>
<body>
  <!-- Topbar Start -->
  <div class="container-fluid bg-primary px-5 d-none d-lg-block" th:fragment="top">
    <div class="row gx-0">
      <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
      </div>
      <div class="col-lg-4 text-center text-lg-end">
        <div class="d-inline-flex align-items-center" style="height: 45px;">
<!--          <sec:authentication property="principal.username" var="principal"/>-->
<!--          <span sec:authentication></span>-->
          <a href="#"><small class="me-3 text-light"><i class="fa fa-user me-2" sec:authentication="principal.username"></i><i>님 환영합니다</i></small></a>
          <a href="/login" sec:authorize="isAnonymous()"><small class="me-3 text-light"><i class="fa fa-sign-in-alt me-2"></i>Login</small></a>
          <a href="/logout" sec:authorize="isAuthenticated()"><small class="me-3 text-light"><i class="fas fa-power-off me-2"></i> Log Out</small></a>
        </div>
      </div>
    </div>
  </div>
  <!-- Topbar End -->
</body>

</html>