spring:
  datasource:
    driver-class-name: ${DB_DRIVER}
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    hikari:
      minimum-idle: 1
      maximum-pool-size: 5
      pool-name: mysql_db

  sql:
    init:
      encoding: utf-8
      mode: always

  config:
    import: optional:file:.env[.properties]

  jpa:
    hibernate:
      ddl-auto: create
    defer-datasource-initialization: true
    properties:
      hibernate:
        format_sql: true
        show_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
    database: mysql

  devtools:
    livereload:
      enabled: true

  thymeleaf:
    cache: false
    prefix: classpath:/templates/
  schedule: # interval 1 hour
    cron : 0 0 0/1 * * *
    use : true
    
  mvc:
    hiddenmethod:
      filter:
        enabled: true

  mail:
    host: smtp.gmail.com
    port: 587 # gmail tls port
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD} # 구글에서 설정한 앱 비밀번호
    properties:
      mail:
        smtp:
          auth: true
          timeout: 5000 # Socket Read Timeout 시간(ms) (기본값 : 무한대)
          starttls:
            enable: true # StartTLS 활성화 여부 (기본값 : false)
    default-encoding: "UTF-8"


youtube:
    api:
      key: ${YOUTUBE_API_KEY}

alan:
    one:
      url: ${ALAN_ONE_URL}
client:
  id: ${CLIENT_ID}

cloud:
  aws:
    s3:
      bucket: ${S3_BUCKET_NAME}
    stack:
      auto: false
    region:
      static: ${S3_REGION}
    credentials:
      accessKey: ${S3_ACCESS_KEY}
      secretKey: ${S3_SECRET_KEY}

