<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<footer class="container-fluid copyright text-body py-4" th:fragment="footerFragment">
  <div class="container">
    <div class="row g-4 align-items-center">
      <div class="col-md-6 text-center text-md-end mb-md-0">
        <span>
          <i class="fas fa-copyright me-2"></i>copyright
            <a class="text-white" th:href="@{https://github.com/anonymousOrmi/simsasookbak}">심사숙박</a>
        </span>
      </div>
    </div>
  </div>
</footer>
</html>