<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footerFragment">
  <!--Copyright Area -->
  <section class="container-fluid copyright text-body py-4">
    <div class="container">
      <div class="row g-4 align-items-center">
        <div class="col-md-6 text-center text-md-end mb-md-0">
          <span>
            <i class="fas fa-copyright me-2"></i>copyright
              <a class="text-white" th:href="@{https://github.com/anonymousOrmi/simsasookbak}">심사숙박</a>
          </span>
        </div>
      </div>
    </div>
  </section>

  <!--Top Button Area-->
  <section class="top-btn">
    <a class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top" href="#"><i class="fa fa-arrow-up"></i></a>
  </section>
</footer>
</html>