.adminPageTitle{
    color: whitesmoke;
}

.row{
    justify-content: center;
}
.table{
    color: white;
    text-align: center;

}
.py-5{
    padding-bottom: 5.3rem !important;
}

.card-body{
    padding: 2rem 1rem;
}