.adminPageTitle{
    color: whitesmoke;
}

.row{
    justify-content: center;
}
.table{
    color: white;
    text-align: center;

}
.py-5{
    padding-bottom: 17rem !important;
}

.card-body{
    padding: 2rem 1rem;
}
@media (min-width: 768px) {
    .text-md-end {
        text-align: center;
    }
}