<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Travela - Tourism Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&family=Roboto&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

<div th:replace="~{/layout/top-bar :: top}"></div>
<div th:replace="~{/layout/navigation-bar :: nav}"></div>


    <!-- Header Start -->
    <div class="container-fluid bg-breadcrumb">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h3 class="text-white display-3 mb-4">숙소 등록 하기</h3>
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active text-white">Packages</li>
                </ol>
        </div>
    </div>
    <!-- Header End -->

    <!-- Tour Booking Start (숙소 등록) -->
    <div class="container-fluid booking py-5">
        <div class="container py-5">
            <h1 class="text-white mb-3">숙소 정보</h1>
            <form id="registerForm" th:action="@{/accommodation/registerPage/register}" method="post">
                <!-- 숙소 영역 -->
                <div class="row g-3">
                    <div class="col-md-3">
                        <label for="imageInput" class="form-label">이미지 업로드</label>
                        <input class="form-control" type="file" id="imageInput" accept="image/*" multiple>
                    </div>
                    <div class="col-md-9"></div> <!-- 공백 위한 것 -->
                    <div class="col-md-2">
                        <div class="form-floating">
                            <input name="accommodationName" type="text" class="form-control bg-white border-0" id="accommodationName" placeholder="Your Name">
                            <label for="accommodationName">숙소 명</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-floating">
                            <select class="form-select bg-white border-0" id="selectRegion">
                                <option value="1">서울</option>
                                <option value="2">경기</option>
                                <option value="3">강원</option>
                                <option value="2">충북</option>
                                <option value="3">충남</option>
                                <option value="2">전북</option>
                                <option value="3">전남</option>
                                <option value="2">경북</option>
                                <option value="3">경남</option>
                                <option value="3">제주</option>
                            </select>
                            <label for="SelectRegion">지역</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating">
                            <input name="address" type="text" class="form-control bg-white border-0" id="address" placeholder="Your Email">
                            <label for="address">상세 주소</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-floating date" id="date3" data-target-input="nearest">
                            <input name="checkIn" type="text" class="form-control bg-white border-0" id="datetime1" placeholder="Date & Time" data-target="#date3" data-toggle="datetimepicker" />
                            <label for="datetime1">체크 인</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-floating date" id="date4" data-target-input="nearest">
                            <input name="checkOut" type="text" class="form-control bg-white border-0" id="datetime2" placeholder="Date & Time" data-target="#date3" data-toggle="datetimepicker" />
                            <label for="datetime2">체크 아웃</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <textarea name="accommodationContent" class="form-control bg-white border-0" placeholder="Special Request" id="accommodationContent" style="height: 100px"></textarea>
                            <label for="accommodationContent">숙소 소개글</label>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <ul class="list-group list-group-horizontal">
                                    <!-- 숙박 시설 목록을 반복하여 각 항목을 체크박스로 표시 -->
                                    <th:block th:each="facility : ${accommodationFacilityList}">
                                        <li class="list-group-item">
                                            <!-- 각 숙박 시설을 체크박스로 표시 -->
                                            <input id="accommodation-check-input" class="form-check-input me-1" type="checkbox" th:id="'facility_' + ${facility.id}" th:value="${facility.name}" aria-label="...">
                                            <label th:for="'facility_' + ${facility.id}" th:text="${facility.name}">Facility Name</label>
                                        </li>
                                    </th:block>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3"></div> <!-- 여백을 추가할 빈 줄 -->
                </div>
                <!-- 객실 영역 -->
                <div class="rooms row g-3">
                    <div class="room row g-3">
                        <h2 class="text-white mb-3">객실 정보</h2>
                        <div class="col-md-2">
                            <div class="form-floating">
                                <input type="text" class="form-control bg-white border-0" id="roomName1" placeholder="Your Name">
                                <label for="roomName1">객실 명</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-floating">
                                <input type="text" class="form-control bg-white border-0" id="cost1" placeholder="Your Name">
                                <label for="cost1">가격</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control bg-white border-0" placeholder="Special Request" id="content1" style="height: 100px"></textarea>
                                <label for="content1">객실 소개글</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control bg-white border-0" placeholder="Special Request" id="useGuide1" style="height: 100px"></textarea>
                                <label for="useGuide1">이용 안내</label>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <ul class="list-group list-group-horizontal">
                                        <!-- 객실 시설 목록을 반복하여 각 항목을 체크박스로 표시 -->
                                        <th:block th:each="roomFacility : ${roomFacilityList}">
                                            <li class="list-group-item">
                                                <!-- 첫 번째 객실 시설을 체크박스로 표시 -->
                                                <input class="form-check-input me-1" type="checkbox" th:id="'roomFacility1_' + ${roomFacility.id}" th:value="${roomFacility.name}" aria-label="...">
                                                <label th:for="'roomFacility1_' + ${roomFacility.id}" th:text="${roomFacility.name}">Facility Name</label>
                                            </li>
                                        </th:block>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3"></div> <!-- 여백을 추가할 빈 줄 -->
                </div>
                <!-- 버튼 영역 -->
                <div class="row g-3">
                    <div class="col-3">
                        <button class="btn btn-primary text-white w-100 py-3 add-room-btn" type="button">객실 추가하기</button>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-primary text-white w-100 py-3" type="submit">숙소 등록 완료</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Tour Booking End -->

<footer th:replace="~{/layout/footer::footerFragment}">

<!-- Back to Top -->
<a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i class="fa fa-arrow-up"></i></a>

<!-- JavaScript Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/lightbox/js/lightbox.min.js"></script>


<!-- Template Javascript -->
<script src="/js/main.js"></script>
<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function() {
        const addButton = document.querySelector('.add-room-btn');
        const roomsContainer = document.querySelector('.rooms');

        let roomIndex = 1;

        addButton.addEventListener('click', function() {
            addRoom();
        });

        function addRoom() {
            roomIndex++;

            const newRoom = document.createElement('div');
            newRoom.classList.add('room', 'row', 'g-3');

            newRoom.innerHTML = '\
            <h2 class="text-white mb-3">객실 정보</h2>\
            <div class="col-md-2">\
                <div class="form-floating">\
                    <input type="text" class="form-control bg-white border-0" id="roomName' + roomIndex + '" name="roomName' + roomIndex + '" placeholder="Your Name">\
                    <label for="roomName' + roomIndex + '">객실 명</label>\
                </div>\
            </div>\
            <div class="col-md-2">\
                <div class="form-floating">\
                    <input type="text" class="form-control bg-white border-0" id="cost' + roomIndex + '" name="cost' + roomIndex + '" placeholder="Your Name">\
                    <label for="cost' + roomIndex + '">가격</label>\
                </div>\
            </div>\
            <div class="col-12">\
                <div class="form-floating">\
                    <textarea class="form-control bg-white border-0" placeholder="Special Request" id="content' + roomIndex + '" name="content' + roomIndex + '" style="height: 100px"></textarea>\
                    <label for="content' + roomIndex + '">객실 소개글</label>\
                </div>\
            </div>\
            <div class="col-12">\
                <div class="form-floating">\
                    <textarea class="form-control bg-white border-0" placeholder="Special Request" id="useGuide' + roomIndex + '" name="useGuide' + roomIndex + '" style="height: 100px"></textarea>\
                    <label for="useGuide' + roomIndex + '">이용 안내</label>\
                </div>\
            </div>\
            <div class="container">\
                <div class="row">\
                    <div class="col">\
                        <ul class="list-group list-group-horizontal" id="roomFacilityList' + roomIndex + '"></ul>\
                    </div>\
                 </div>\
            </div>\
            <div class="row mb-3"></div>';

            roomsContainer.appendChild(newRoom);

            // 여기에 객실 시설 목록 추가
            [[${roomFacilityList}]].forEach(function(roomFacility) {
                const facilityList = document.getElementById('roomFacilityList' + roomIndex);
                facilityList.innerHTML += '\
                <li class="list-group-item">\
                    <input class="form-check-input me-1" type="checkbox" id="roomFacility' + roomIndex + '_' + roomFacility.id + '" value="' + roomFacility.name + '" aria-label="...">\
                    <label for="roomFacility' + roomIndex + '_' + roomFacility.id + '">' + roomFacility.name + '</label>\
                </li>';
            });
        }
    });
</script>

<script>
    document.getElementById('registerForm').addEventListener('submit', function (e) {
        e.preventDefault(); // 폼의 기본 제출 동작 방지

        const formData = new FormData(this);

        ////////////////////////////////////////////////////////////////////숙소시작
        //지역 선택
        const regionSelect = document.getElementById('selectRegion'); // select 요소 가져오기
        const regionIndex = regionSelect.selectedIndex; // 선택된 옵션의 인덱스 가져오기
        // 체크된 숙박 시설 목록 추적
        const facilityList = [];
        const checkboxes = document.querySelectorAll('#accommodation-check-input[type=checkbox]:checked');
        checkboxes.forEach(function(checkbox) {
            if (checkbox.value !== '') {
                facilityList.push(checkbox.value);
            }
        });
        // 숙소 정보 수집
        var accommodationAddRequestDto = {
            name: formData.get('accommodationName'),
            region: regionSelect.options[regionIndex].text,
            address: formData.get('address'),
            checkIn: formData.get('checkIn'),
            checkOut: formData.get('checkOut'),
            content: formData.get('accommodationContent'),
            facilityList: facilityList
        };
        ////////////////////////////////////////////////////////////////////숙소끝


        ////////////////////////////////////////////////////////////////////객실시작
        // 배열 초기화
        var roomAddRequestDtoList = [];

        // 모든 객실 정보를 순회하면서 데이터 수집
        var roomElements = document.querySelectorAll('.room');
        roomElements.forEach(function(roomElement, index) {
            var roomAddRequestDto = {};

            // 객실명
            var roomNameInput = roomElement.querySelector('input[id^="roomName"]');
            roomAddRequestDto['name'] = roomNameInput.value;
            console.log(roomNameInput.value);

            // 가격
            var costInput = roomElement.querySelector('input[id^="cost"]');
            roomAddRequestDto['cost'] = costInput.value;
            console.log(costInput.value);
            // 객실 소개글
            var contentTextarea = roomElement.querySelector('textarea[id^="content"]');
            roomAddRequestDto['content'] = contentTextarea.value;
            console.log(contentTextarea.value);

            // 이용 안내
            var useGuideTextarea = roomElement.querySelector('textarea[id^="useGuide"]');
            roomAddRequestDto['useGuide'] = useGuideTextarea.value;
            console.log(useGuideTextarea.value);

            // 객실 시설 목록
            roomAddRequestDto['facilityList'] = [];
            var facilityCheckboxes = roomElement.querySelectorAll('input[id^="roomFacility"]:checked');
            facilityCheckboxes.forEach(function(checkbox) {
                roomAddRequestDto['facilityList'].push(checkbox.value);
            });
            console.log(roomAddRequestDto['facilityList']);

            // 해당 객실의 정보를 전체 데이터 배열에 추가
            roomAddRequestDtoList.push(roomAddRequestDto);

        });
        ////////////////////////////////////////////////////////////////////객실끝
        console.log(roomAddRequestDtoList);

        // JSON 형태로 변환하여 반환
        fetch(this.action, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                accommodationAddRequestDto: accommodationAddRequestDto,
                roomAddRequestDtoList: roomAddRequestDtoList
            })
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                // 요청이 성공적으로 처리되면, 여기서 UI를 업데이트하거나 페이지를 새로고침할 수 있습니다.
                alert('숙소 등록이 완료되었습니다.');
                //TODO: 어디로 보내지
                window.location.href = '/';
            })
            .catch(error => {
                console.error('Error:', error);
                alert('숙소 등록 중 오류가 발생하였습니다. 입력한 정보를 확인해 주세요');
            });
    });
</script>

</body>

</html>