<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Travela - Tourism Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&family=Roboto&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

<div th:replace="~{/layout/top-bar :: top}"></div>
<div th:replace="~{/layout/navigation-bar :: nav}"></div>


    <!-- Header Start -->
    <div class="container-fluid bg-breadcrumb">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h3 class="text-white display-3 mb-4">숙소 등록 하기</h1>
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active text-white">Packages</li>
                </ol>
        </div>
    </div>
    <!-- Header End -->

    <!-- Tour Booking Start (숙소 등록) -->
    <div class="container-fluid booking py-5">
        <div class="container py-5">
            <h1 class="text-white mb-3">숙소 정보</h1>
            <form id="registerForm" th:action="@{/accommodation/registerPage/register}" method="post">
                <!-- 숙소 영역 -->
                <div class="row g-3">
                    <div class="col-md-3">
                        <label for="imageInput" class="form-label">이미지 업로드</label>
                        <input class="form-control" type="file" id="imageInput" accept="image/*" multiple>
                    </div>
                    <div class="col-md-9"></div> <!-- 공백 위한 것 -->
                    <div class="col-md-2">
                        <div class="form-floating">
                            <input name="accommodationName" type="text" class="form-control bg-white border-0" id="accommodationName" placeholder="Your Name">
                            <label for="accommodationName">숙소 명</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-floating">
                            <select class="form-select bg-white border-0" id="selectRegion">
                                <option value="1">서울</option>
                                <option value="2">경기</option>
                                <option value="3">강원</option>
                                <option value="2">충북</option>
                                <option value="3">충남</option>
                                <option value="2">전북</option>
                                <option value="3">전남</option>
                                <option value="2">경북</option>
                                <option value="3">경남</option>
                                <option value="3">제주</option>
                            </select>
                            <label for="SelectPerson">지역</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating">
                            <input name="address" type="text" class="form-control bg-white border-0" id="address" placeholder="Your Email">
                            <label for="address">상세 주소</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-floating date" id="date3" data-target-input="nearest">
                            <input name="checkIn" type="text" class="form-control bg-white border-0" id="datetime1" placeholder="Date & Time" data-target="#date3" data-toggle="datetimepicker" />
                            <label for="datetime1">체크 인</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-floating date" id="date4" data-target-input="nearest">
                            <input name="checkOut" type="text" class="form-control bg-white border-0" id="datetime2" placeholder="Date & Time" data-target="#date3" data-toggle="datetimepicker" />
                            <label for="datetime2">체크 아웃</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <textarea name="accommodationContent" class="form-control bg-white border-0" placeholder="Special Request" id="accommodationContent" style="height: 100px"></textarea>
                            <label for="accommodationContent">숙소 소개글</label>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <ul class="list-group list-group-horizontal">
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                        주차장
                                    </li>
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                        편의점
                                    </li>
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                        레스토랑
                                    </li>
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                        헬스장
                                    </li>
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                        수영장
                                    </li>
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                        와인바
                                    </li>
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                        바베큐
                                    </li>
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                        키즈클럽
                                    </li>
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                        이벤트공간
                                    </li>
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                        셔틀버스
                                    </li>
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                        와이파이
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3"></div> <!-- 여백을 추가할 빈 줄 -->
                </div>
                <!-- 객실 영역 -->
                <div class="rooms row g-3">
                    <div class="room row g-3">
                        <h2 class="text-white mb-3">객실 정보</h2>
                        <div class="col-md-2">
                            <div class="form-floating">
                                <input type="text" class="form-control bg-white border-0" id="roomName" placeholder="Your Name">
                                <label for="roomName">객실 명</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-floating">
                                <input type="text" class="form-control bg-white border-0" id="cost" placeholder="Your Name">
                                <label for="cost">가격</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating">
                                <select class="form-select bg-white border-0" id="SelectPerson">
                                    <option value="1">Persons 1</option>
                                    <option value="2">Persons 2</option>
                                    <option value="3">Persons 3</option>
                                </select>
                                <label for="SelectPerson">수용인원 (일단 넣어 놓음 나중에 삭제)</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control bg-white border-0" placeholder="Special Request" id="content" style="height: 100px"></textarea>
                                <label for="content">객실 소개글</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control bg-white border-0" placeholder="Special Request" id="useGuide" style="height: 100px"></textarea>
                                <label for="useGuide">이용 안내</label>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <ul class="list-group list-group-horizontal">
                                        <li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            욕조
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            커피포트
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            TV
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            냉장고
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            에어컨
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            조리시설
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            발코니
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            헤어 드라이어
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            욕실용품
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3"></div> <!-- 여백을 추가할 빈 줄 -->
                </div>
                <!-- 버튼 영역 -->
                <div class="row g-3">
                    <div class="col-3">
                        <button class="btn btn-primary text-white w-100 py-3 add-room-btn" type="button">객실 추가하기</button>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-primary text-white w-100 py-3" type="submit">숙소 등록 완료</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Tour Booking End -->


<!-- Copyright Start -->
<div class="container-fluid copyright text-body py-4">
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-md-6 text-center text-md-end mb-md-0">
                <i class="fas fa-copyright me-2"></i><a class="text-white" href="#">심사숙박</a>, All right reserved.
            </div>
            <div class="col-md-6 text-center text-md-start">
                <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
                <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
                <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
                Designed By <a class="text-white" href="https://htmlcodex.com">HTML Codex</a> Distributed By <a href="https://themewagon.com">ThemeWagon</a>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Copyright End -->

<!-- Back to Top -->
<a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i class="fa fa-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/lightbox/js/lightbox.min.js"></script>


<!-- Template Javascript -->
<script src="/js/main.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const addButton = document.querySelector('.add-room-btn');
        const roomsContainer = document.querySelector('.rooms');

        addButton.addEventListener('click', function() {
            const newRoom = document.createElement('div');
            newRoom.classList.add('room', 'row', 'g-3');

            newRoom.innerHTML = `
                <h2 class="text-white mb-3">객실 정보</h2>
                        <div class="col-md-2">
                            <div class="form-floating">
                                <input type="text" class="form-control bg-white border-0" id="roomName" placeholder="Your Name">
                                <label for="roomName">객실 명</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-floating">
                                <input type="text" class="form-control bg-white border-0" id="cost" placeholder="Your Name">
                                <label for="cost">가격</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-floating">
                                <select class="form-select bg-white border-0" id="SelectPerson">
                                    <option value="1">Persons 1</option>
                                    <option value="2">Persons 2</option>
                                    <option value="3">Persons 3</option>
                                </select>
                                <label for="SelectPerson">수용인원 (일단 넣어 놓음 나중에 삭제)</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control bg-white border-0" placeholder="Special Request" id="content" style="height: 100px"></textarea>
                                <label for="content">객실 소개글</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control bg-white border-0" placeholder="Special Request" id="useGuide" style="height: 100px"></textarea>
                                <label for="useGuide">이용 안내</label>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <ul class="list-group list-group-horizontal">
                                        <li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            욕조
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            커피포트
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            TV
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            냉장고
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            에어컨
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            조리시설
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            발코니
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            헤어 드라이어
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                            욕실용품
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3"></div> <!-- 여백을 추가할 빈 줄 -->
            `;

            roomsContainer.appendChild(newRoom);
        });
    });
</script>


<script>
    document.getElementById('registerForm').addEventListener('submit', function (e) {
        e.preventDefault(); // 폼의 기본 제출 동작 방지

        const formData = new FormData(this);

        //지역 선택
        const regionSelect = document.getElementById('selectRegion'); // select 요소 가져오기
        const regionIndex = regionSelect.selectedIndex; // 선택된 옵션의 인덱스 가져오기

        //시설 선택
        const checkedCheckboxes = document.querySelectorAll('input[type="checkbox"]:checked');

        const accommodationName = formData.get('accommodationName');
        const region = regionSelect.options[regionIndex].text;
        const address = formData.get('address');
        const checkIn = formData.get('checkIn');
        const checkOut = formData.get('checkOut');
        const content = formData.get('accommodationContent');
        const facilityList = Array.from(checkedCheckboxes).map(checkbox => checkbox.nextSibling.nodeValue.trim());

        console.log(accommodationName);
        console.log(region);
        console.log(address);
        console.log(checkIn);
        console.log(checkOut);
        console.log(content);
        console.log(facilityList);

        fetch(this.action, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                name: accommodationName,
                region: region,
                address: address,
                checkIn: checkIn,
                checkOut: checkOut,
                content: content,
                // facilityList: facilityList
            })
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                // 요청이 성공적으로 처리되면, 여기서 UI를 업데이트하거나 페이지를 새로고침할 수 있습니다.
                alert('숙소 등록이 완료되었습니다.');
                //TODO: 어디로 보내지
                window.location.href = '/';
            })
            .catch(error => {
                console.error('Error:', error);
                alert('숙소 등록 중 오류가 발생하였습니다. 입력한 정보를 확인해 주세요');
            });
    });
</script>

</body>

</html>