<!DOCTYPE html>
<html lang="en">

<head th:replace="~{layout/head::headFragment}"></head>

<body>

<div th:replace="~{layout/top-bar :: top}"></div>
<div th:replace="~{layout/navigation-bar :: nav}"></div>


<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
  <div class="container text-center py-5" style="max-width: 900px;">
    <h3 class="text-white display-3 mb-4">숙소 정보 수정</h3>
    <ol class="breadcrumb justify-content-center mb-0">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Pages</a></li>
      <li class="breadcrumb-item active text-white">Blog</li>
    </ol>
  </div>
</div>
<!-- Header End -->


<div class="container-fluid booking py-5">
  <div class="container py-5">
    <h1 class="text-white mb-3">숙소 정보</h1>
    <form enctype="multipart/form-data" id="registerForm" method="post" th:action="@{/accommodation/{accommodationId}/accommodationUpdate(accommodationId=${accommodation.id})}">
      <!-- 숙소 영역 -->
      <div class="row g-3">
        <div class="col-md-3">
          <label class="form-label" for="imageInput">이미지 업로드</label>
          <input accept="image/*" class="form-control" id="imageInput" multiple name="file" onchange="addFile(this);" type="file">
        </div>
        <div class="col-md-9"></div> <!-- 공백 위한 것 -->
        <div class="col-md-2">
          <div class="form-floating">
            <input class="form-control bg-white border-0" id="accommodationName" name="accommodationName" placeholder="Your Name" th:value="${accommodation.getName()}" type="text">
            <label for="accommodationName">숙소 명</label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-floating">
            <select class="form-select bg-white border-0" id="selectRegion" name="region">
              <option th:selected="${accommodation.getRegion()} == '서울'">서울</option>
              <option th:selected="${accommodation.getRegion()} == '경기'">경기</option>
              <option th:selected="${accommodation.getRegion()} == '강원'">강원</option>
              <option th:selected="${accommodation.getRegion()} == '충북'">충북</option>
              <option th:selected="${accommodation.getRegion()} == '충남'">충남</option>
              <option th:selected="${accommodation.getRegion()} == '전북'">전북</option>
              <option th:selected="${accommodation.getRegion()} == '전남'">전남</option>
              <option th:selected="${accommodation.getRegion()} == '경북'">경북</option>
              <option th:selected="${accommodation.getRegion()} == '경남'">경남</option>
              <option th:selected="${accommodation.getRegion()} == '제주'">제주</option>
            </select>
            <label for="selectRegion">지역</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-floating">
            <input class="form-control bg-white border-0" id="address" name="address" placeholder="Your Email" th:value="${accommodation.getAddress()}" type="text">
            <label for="address">상세 주소</label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-floating date" data-target-input="nearest" id="date3">
            <input class="form-control bg-white border-0" data-target="#date3" data-toggle="datetimepicker" id="datetime1" name="checkIn" placeholder="Date & Time" th:value="${accommodation.getCheckIn()}" type="time" />
            <label for="datetime1">체크 인</label>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-floating date" data-target-input="nearest" id="date4">
            <input class="form-control bg-white border-0" data-target="#date3" data-toggle="datetimepicker" id="datetime2" name="checkOut" placeholder="Date & Time" th:value="${accommodation.checkOut}" type="time" />
            <label for="datetime2">체크 아웃</label>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating">
            <textarea class="form-control bg-white border-0" id="accommodationContent" name="accommodationContent" placeholder="Special Request" style="height: 100px" th:text="${accommodation.getContent()}"></textarea>
            <label for="accommodationContent">숙소 소개글</label>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col">
              <ul class="list-group list-group-horizontal">
                <!-- 숙박 시설 목록을 반복하여 각 항목을 체크박스로 표시 -->
                <th:block th:each="facility : ${accommodationFacilityList}">
                  <li class="list-group-item">
                    <!-- 각 숙박 시설을 체크박스로 표시 -->
                    <input aria-label="..." class="accommodation-check-input form-check-input me-1" th:checked="${accommodation.facilityList.contains(facility.name)}" th:id="'facility_' + ${facility.id}" th:value="${facility.name}"
                           type="checkbox">
                    <label th:for="'facility_' + ${facility.id}" th:text="${facility.name}">Facility Name</label>
                  </li>
                </th:block>
              </ul>
            </div>
          </div>
        </div>
        <div class="row mb-3"></div> <!-- 여백을 추가할 빈 줄 -->
        <div class="col-3">
          <button class="btn btn-primary text-white w-100 py-3" type="submit">수정 완료</button>
        </div>
      </div>
    </form>
  </div>
</div>


<footer th:replace="~{layout/footer::footerFragment}"></footer>

<!-- Back to Top -->
<a class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top" href="#"><i class="fa fa-arrow-up"></i></a>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
<script>
  document.getElementById('registerForm').addEventListener('submit', function (e) {
    e.preventDefault(); // 폼의 기본 제출 동작 방지

    const formData = new FormData(this);

    ////////////////////////////////////////////////////////////////////숙소시작
    //지역 선택
    const regionSelect = document.getElementById('selectRegion'); // select 요소 가져오기
    const regionIndex = regionSelect.selectedIndex; // 선택된 옵션의 인덱스 가져오기
    const region = regionSelect.options[regionIndex].text;


    const name = formData.get('accommodationName');
    const checkIn = formData.get('checkIn');
    const checkOut = formData.get('checkOut');
    const address = formData.get('address');
    const content = formData.get('accommodationContent');

    // 체크된 숙박 시설 목록 추적
    const facilityList = [];
    const checkboxes = document.querySelectorAll('.accommodation-check-input[type=checkbox]:checked');
    checkboxes.forEach(function(checkbox) {
      if (checkbox.value !== '') {
        facilityList.push(checkbox.value);
      }
    });

    console.log(region);
    console.log(name);
    console.log(checkIn);
    console.log(checkOut);
    console.log(address);
    console.log(content);
    console.log(facilityList);

    ////////////////////////////////////////////////////////////////////숙소끝


    fetch(this.action, {
      method: 'PUT',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        name: name,
        region: region,
        address: address,
        checkIn: checkIn,
        checkOut: checkOut,
        content: content,
        facilityList: facilityList
      })
    })
            .then(async response => {
              if (!response.ok) {
                throw new Error('Network response was not ok');
              }
              const responseAccommId = await response.json();
              console.log(`리스폰스 응답 ${responseAccommId}, ${typeof responseAccommId}`)
              console.log(document.getElementById('imageInput').files);
              // 요청이 성공적으로 처리되면, 여기서 UI를 업데이트하거나 페이지를 새로고침할 수 있습니다.
              let files = document.getElementById('imageInput').files;
              let formData2 = new FormData();
              // const upload = () => {
              for (let i = 0; i < files.length; i++) {
                formData2.append('file', files[i]);
              }
              // }

              fetch(`/accommodation/image/file/register/${responseAccommId}`,{
                method:'POST',
                // headers:{'Content-Type' : 'multipart/form-data'},
                body: formData2
              }).then(()=>{
                alert('숙소 수정이 완료되었습니다.');
                location.replace(`/accommodation/${responseAccommId}`);
              });


            })
            .catch(error => {
              console.error('Error:', error);
              alert('숙소 수정 중 오류가 발생하였습니다. 입력하신 정보가 잘못된 형식이거나 여러번 요청을 반복하실 수 없습니다');
            });
  });
</script>
</body>

</html>