<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Travela - Tourism Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&family=Roboto&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

<div th:replace="~{/layout/top-bar :: top}"></div>
<div th:replace="~{/layout/navigation-bar :: nav}"></div>

<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h1 class="text-white display-3 mb-4">숙소 상세</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active text-white">About</li>
        </ol>
    </div>
</div>
<!-- Header End -->

<!-- About Start -->
<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5">
                <div class="h-100">
                    <img alt="" class="img-fluid w-100 h-100" src="/img/gallery-2.jpg">
                </div>
            </div>
            <div class="col-lg-7"
                 style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(/img/about-img-1.png);">
                <h1 class="mb-4">숙소명 <span class="text-primary">숙소명</span></h1>
                <p class="mb-lg-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, dolorum,
                    doloribus sunt dicta, officia voluptatibus libero necessitatibus natus impedit quam ullam assumenda?
                    Id atque iste consectetur. Commodi odit ab saepe!</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>First Class Flights</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Handpicked Hotels</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>5 Star Accommodations</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Latest Model Vehicles</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>150 Premium City Tours</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>24/7 Service</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<div class="container-fluid contact bg-light py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-7 room-condition">
                <h1 class="mb-4">객실이름 <span class="text-primary">$가격</span></h1>
                <p class="mb-lg-5">객실 설명 : Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, dolorum,
                    doloribus sunt dicta, officia voluptatibus libero necessitatibus natus impedit quam ullam assumenda?
                    Id atque iste consectetur. Commodi odit ab saepe!</p>
                <p>
                    이용 안내 : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error fugit inventore
                    praesentium sint vero. Atque consequatur corporis deleniti dignissimos doloremque, esse facere
                    illum
                    inventore iusto nam nesciunt suscipit voluptate voluptatum!
                </p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>편의시설1</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>편의시설1</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>편의시설1</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>편의시설1</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>편의시설1</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>편의시설1</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-lg-end">
            <a class="btn btn-primary rounded-pill py-3 px-5 mt-2" href="/accommodation/1/1/reservationPage">예약하기</a>
        </div>
    </div>
</div>

<div class="container owl-stage">
    <div class="owl-item-active center">
        <div class="testimonial-item text-center rounded pb-4">
            <div class="testimonial-comment bg-light rounded p-4">
                <p class="text-center mb-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis nostrum
                    cupiditate, eligendi repellendus saepe illum earum architecto dicta quisquam quasi porro
                    officiis.
                    Vero
                    reiciendis,
                </p>
            </div>
            <div class="testimonial-img p-1">
                <img alt="Image" class="img-fluid rounded-circle" src="/img/alan.png">
            </div>
            <div style="margin-top: -35px;">
                <h5 class="mb-0">Alan AI</h5>
                <p class="mb-0">내부 리뷰 요약</p>
                <div class="d-flex justify-content-center">
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="owl-item-active center">
        <div class="testimonial-item text-center rounded pb-4">
            <div class="testimonial-comment bg-light rounded p-4">
                <p class="text-center mb-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis nostrum
                    cupiditate, eligendi repellendus saepe illum earum architecto dicta quisquam quasi porro
                    officiis.
                    Vero
                    reiciendis,
                </p>
            </div>
            <div class="testimonial-img p-1">
                <img alt="Image" class="img-fluid rounded-circle" src="/img/alan.png">
            </div>
            <div style="margin-top: -35px;">
                <h5 class="mb-0">Alan AI</h5>
                <p class="mb-0">외부 리뷰 요약</p>
                <div class="d-flex justify-content-center">
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 리뷰 조회 Start -->
<div class="bg-light">
    <div class="container service py-5">
        <div class="container py-5">
            <div class="row g-3">
                <div class="col-lg-12">
                    <div class="row g-3">
                        <div class="border border-primary rounded p-3">
                            <div class="container py-5">
                                <div class="row g-3">
                                    <div class="col-md-6 text-md-start text-center" style="font-size: 20px;">
                                        리뷰 제목1
                                    </div>
                                    <div class="col-md-6 text-md-end text-center">
                                        <div class="row g-3">
                                            <div class="col-md-3" style="font-size: 15px;">
                                                작성자
                                            </div>
                                            <div class="col-md-3" style="font-size: 15px;">
                                                작성일
                                            </div>
                                            <div class="col-md-3" style="font-size: 15px;">
                                                수정일
                                            </div>
                                            <div class="col-md-3" style="font-size: 15px;">
                                                별점
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3"></div> <!-- 여백을 추가할 빈 줄 -->
                                    <div class="col-md-12 border rounded p-3">
                                        <div class="mb-2">
                                            리뷰 내용을 여기에 표시하세요. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Nullam auctor, arcu nec finibus fermentum, turpis felis lacinia neque, vitae
                                            tincidunt felis ante at eros. In ultricies auctor mauris. Integer ut viverra
                                            libero. Integer aliquet scelerisque erat nec vehicula. Quisque eleifend
                                            euismod libero, sed vulputate enim bibendum ac. Suspendisse potenti. Sed
                                            quis mi ac purus consequat eleifend. Phasellus eget varius enim. Fusce sit
                                            amet ligula non est consectetur blandit. Cras porttitor augue nec arcu
                                            aliquet, vel fringilla nisl viverra. Ut tincidunt nisi sit amet libero
                                            condimentum, nec scelerisque eros fermentum.
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4"></div> <!-- 여백을 추가할 빈 줄 -->
                                <div class="img-container">
                                    <img alt="Image"
                                         class="img-fluid w-35 mx-auto rounded d-block"
                                         src="/img/explore-tour-1.jpg">
                                    <img alt="Image"
                                         class="img-fluid w-35 mx-auto rounded d-block"
                                         src="/img/explore-tour-1.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container py-5">
            <div class="row g-3">
                <div class="col-lg-12">
                    <div class="row g-3">
                        <div class="border border-primary rounded p-3">
                            <div class="container py-5">
                                <div class="row g-3">
                                    <div class="col-md-6 text-md-start text-center" style="font-size: 20px;">
                                        리뷰 제목2
                                    </div>
                                    <div class="col-md-6 text-md-end text-center">
                                        <div class="row g-3">
                                            <div class="col-md-3" style="font-size: 15px;">
                                                작성자
                                            </div>
                                            <div class="col-md-3" style="font-size: 15px;">
                                                작성일
                                            </div>
                                            <div class="col-md-3" style="font-size: 15px;">
                                                수정일
                                            </div>
                                            <div class="col-md-3" style="font-size: 15px;">
                                                별점
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3"></div> <!-- 여백을 추가할 빈 줄 -->
                                    <div class="col-md-12 border rounded p-3">
                                        <div class="mb-2">
                                            리뷰 내용을 여기에 표시하세요. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Nullam auctor, arcu nec finibus fermentum, turpis felis lacinia neque, vitae
                                            tincidunt felis ante at eros. In ultricies auctor mauris. Integer ut viverra
                                            libero. Integer aliquet scelerisque erat nec vehicula. Quisque eleifend
                                            euismod libero, sed vulputate enim bibendum ac. Suspendisse potenti. Sed
                                            quis mi ac purus consequat eleifend. Phasellus eget varius enim. Fusce sit
                                            amet ligula non est consectetur blandit. Cras porttitor augue nec arcu
                                            aliquet, vel fringilla nisl viverra. Ut tincidunt nisi sit amet libero
                                            condimentum, nec scelerisque eros fermentum.
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4"></div> <!-- 여백을 추가할 빈 줄 -->
                                <div class="img-container">
                                    <img alt="Image"
                                         class="img-fluid w-35 mx-auto rounded d-block"
                                         src="/img/explore-tour-1.jpg">
                                    <img alt="Image"
                                         class="img-fluid w-35 mx-auto rounded d-block"
                                         src="/img/explore-tour-1.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a class="btn btn-primary rounded-pill py-3 px-5 mt-2" href="#" style="margin-right: 20px">리뷰 더보기</a>
            <a class="btn btn-primary rounded-pill py-3 px-5 mt-2" href="#">리뷰 등록</a>
        </div>
    </div>
</div>
<!-- 리뷰 조회 End -->

<!-- Back to Top -->
<a class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top" href="#"><i class="fa fa-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/lightbox/js/lightbox.min.js"></script>


<!-- Template Javascript -->
<script src="/js/main.js"></script>
</body>

</html>