<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="~{/layout/head::headFragment}"></head>

<body>

<div th:replace="~{/layout/top-bar :: top}"></div>
<div th:replace="~{/layout/navigation-bar :: nav}"></div>

<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h1 class="text-white display-3 mb-4">숙소 상세</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="index.html">홈</a></li>
            <li class="breadcrumb-item"><a href="#">숙소 찾기</a></li>
            <li class="breadcrumb-item active text-white">숙소 상세</li>
        </ol>
    </div>
</div>
<!-- Header End -->

<!-- details Start -->
<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5" th:each="img:${imgList}">
                <div class="h-100">
                    <img th:src="${img}" class="img-fluid w-100 h-100" alt="">
                </div>
            </div>
            <div class="col-lg-7"
                 style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(/img/about-img-1.png);">
                <h1 class="mb-4">숙소명 <span class="text-primary" th:text="${accommodation.getName()}"></span></h1>
                <p class="mb-lg-5" th:text="${accommodation.getContent()}"></p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><span th:text="${accommodation.getRegion()}"></span></p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><span th:text="${accommodation.getAddress()}"></span></p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>체크인 : <span th:text="${accommodation.getCheckIn()}"></span></p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>체크아웃 : <span th:text="${accommodation.getCheckOut()}"></span></p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0">
                            <i class="fa fa-arrow-right text-primary me-2"></i>
                            시설 및 서비스 :
                            <span th:each="facility, iterStat : ${accommodation.getFacilityList()}">
                                <span th:text="${facility}"></span>
                                <span th:unless="${iterStat.last}">, </span>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-lg-end" sec:authorize="hasAuthority('BUSINESS')">
            <a class="btn btn-primary rounded-pill py-3 px-5 mt-2"
               th:href="@{'/accommodation/' + ${accommodation.getId()}+'/updatePage'}">숙소 수정</a>
        </div>
    </div>
</div>
<!-- details End -->

<div class="container-fluid contact bg-light py-5">
    <div class="container py-5" th:each="room:${roomList}">
        <div class="row g-5 align-items-center">
            <div class="col-lg-7 room-condition">
                <h1 class="mb-4" th:text="${room.name}"></h1>
                <span class="text-primary" th:text="'$'+${room.cost}"></span>
                <p class="mb-lg-5" th:text="'객실 설명 :'+${room.content}"></p>
                <p th:text="'이용 안내 :'+${room.useGuide}">
                </p>
                <div class="row gy-2 gx-4 mb-4" th:each="facility:${room.getFacilityList()}">
                    <div class="col-sm-6">
                        <p class="mb-0">
                            <i class="fa fa-arrow-right text-primary me-2"></i>
                            <span th:utext="${facility}"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-lg-end" sec:authorize="hasAuthority('BUSINESS')">
            <a class="btn btn-primary rounded-pill py-3 px-5 mt-2"
               th:href="@{'/'+${room.getRoomId()}+'/roomUpdatePage'}">객실 수정</a>
        </div>
        <div class="text-lg-end">
            <a class="btn btn-primary rounded-pill py-3 px-5 mt-2"
               th:href="@{${accommodation.getId()}+'/'+${room.getRoomId()}+'/reservationPage'}">예약하기</a>
        </div>
    </div>
</div>

<div class="container owl-stage">
    <div class="owl-item-active center">
        <div class="testimonial-item text-center rounded pb-4">
            <div class="testimonial-comment bg-light rounded p-4">
                <p class="text-center mb-5" th:text="${inSummary}">
                </p>
            </div>
            <div class="testimonial-img p-1">
                <img alt="Image" class="img-fluid rounded-circle" src="/img/alan.png">
            </div>
            <div style="margin-top: -35px;">
                <h5 class="mb-0">Alan AI</h5>
                <p class="mb-0">내부 리뷰 요약</p>
                <div class="d-flex justify-content-center">
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="owl-item-active center">
        <div class="testimonial-item text-center rounded pb-4">
            <div class="testimonial-comment bg-light rounded p-4">
                <p class="text-center mb-5" th:text="${exSummary}">
                </p>
            </div>
            <div class="testimonial-img p-1">
                <img alt="Image" class="img-fluid rounded-circle" src="/img/alan.png">
            </div>
            <div style="margin-top: -35px;">
                <h5 class="mb-0">Alan AI</h5>
                <p class="mb-0">외부 리뷰 요약</p>
                <div class="d-flex justify-content-center">
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 리뷰 조회 Start -->
<div class="bg-light">
    <div class="container service py-5">
        <div class="container py-5">
            <div class="row g-3">
                <div class="col-lg-12">
                    <div class="row g-3">
                        <div class="border border-primary rounded p-3" th:each="review:${reviewList}">
                            <div class="container py-5">
                                <div class="row g-3">
                                    <div class="col-md-6 text-md-start text-center" style="font-size: 20px;"
                                         th:text="${review.roomTitle}">
                                    </div>
                                    <div class="col-md-6 text-md-end text-center">
                                        <div class="row g-3">
                                            <div class="col-md-3" style="font-size: 15px;"
                                                 th:text="${review.getMemberName()}">
                                            </div>
                                            <div class="col-md-3" style="font-size: 15px;"
                                                 th:text="'생성일자 : '+ ${review.getFormattedCreatedAt()}">
                                            </div>
                                            <div class="col-md-3" style="font-size: 15px;"
                                                 th:text="'수정일자 : '+ ${review.getFormattedUpdatedAt()}">
                                                수정일
                                            </div>
                                            <div class="col-md-3" style="font-size: 15px;"
                                                 th:text="'별점'+ ${review.getScore()}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3"></div> <!-- 여백을 추가할 빈 줄 -->
                                    <div class="col-md-12 border rounded p-3">
                                        <div class="mb-2" th:text="${review.getContent()}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4"></div> <!-- 여백을 추가할 빈 줄 -->
                                <div th:if="${review.reviewImages}">
                                    <div  th:each="reviewImage:${review.reviewImages}" class="img-container">
                                        <img alt="Image"
                                             class="img-fluid w-35 mx-auto rounded d-block"
                                             th:src="@{${reviewImage.url}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a id="moreButton" class="btn btn-primary rounded-pill py-3 px-5 mt-2" style="margin-right: 20px">리뷰 더보기</a>
            <a class="btn btn-primary rounded-pill py-3 px-5 mt-2" th:href="@{${accommodation.getId()}+'/comment'}">리뷰 등록</a>
        </div>
    </div>
</div>
<!-- 리뷰 조회 End -->

<!-- 리뷰 리스트 -->
<input type="hidden" id="reviewList" th:value="${reviewList}"/>

<footer th:replace="~{/layout/footer::footerFragment}"></footer>

</body>

</html>