<!DOCTYPE html>
<html lang="ko-KR">

<head>
    <section th:replace="~{/layout/head::headFragment}"></section>
    <link href="/css/index.css" rel="stylesheet">
</head>

<body>
<div th:replace="~{/layout/top-bar :: top}"></div>
<div th:replace="~{/layout/navigation-bar :: nav}"></div>

<!-- Tour Booking Start (검색) -->
<div class="container-fluid booking py-5">
    <div class="container py-5">
        <h1 class="text-white mb-3">Search A Your Room</h1>
        <p class="text-white mb-4"><span class="text-warning">Find rooms that suits you !</span></p>
        <form action="/accommodation" method="get">
            <div class="row g-3">
                <div class="col-md-3">
                    <div class="form-floating">
                        <input class="form-control bg-white border-0" id="keyword" name="keyword"
                               placeholder="Your Name" type="text">
                        <label for="keyword">숙소명 or 지역명</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-floating">
                        <input aria-describedby="basic-addon2" aria-label="Search"
                               class="form-control bg-white border-0 small" id="start-date" name="startDate"
                               type="date">
                        <label for="start-date">입실 </label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-floating">
                        <input aria-describedby="basic-addon2" aria-label="Search"
                               class="form-control bg-white border-0 small" id="end-date" name="endDate" type="date">
                        <label for="end-date">퇴실 </label>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-floating">
                        <select class="form-select bg-white border-0" id="SelectPerson">
                            <option value="1">Persons 1</option>
                        </select>
                        <label for="SelectPerson">Persons</label>
                    </div>
                </div>
                <div class="col-3">
                    <button class="btn btn-primary text-white w-100 py-3" type="submit">숙소 검색</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Tour Booking End -->

<!-- (인기 숙소) -->
<div class="container-fluid packages py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Hot accommodations</h5>
            <h1 class="mb-0">인기 숙소 Top6</h1>
        </div>
        <div class="packages-carousel owl-carousel">
            <div class="packages-item" th:each="accommodation : ${highScoreAccommodations}">
                <div class="packages-img">
                    <img alt="Image" class="img-fluid w-100 rounded-top" src="/img/packages-4.jpg">
                    <div class="packages-info d-flex border border-start-0 border-end-0 position-absolute"
                         style="width: 100%; bottom: 0; left: 0; z-index: 5;"></div>
                    <div class="packages-price py-2 px-4">Top</div>
                </div>
                <div class="packages-content bg-light">
                    <div class="p-4 pb-0">
                        <h5 class="mb-0" th:text="${accommodation.name}"></h5>
                        <small class="text-uppercase" th:text="${accommodation.region}"></small>
                        <small class="text-uppercase" th:text="${accommodation.address}"></small>
                        <p class="mb-4" th:text="${accommodation.content}"></p>
                    </div>
                    <div class="row bg-primary rounded-bottom mx-0">
                        <div class="col-6 text-start px-0">
                            <a class="btn-hover btn text-white py-2 px-4" href="#"></a>
                        </div>
                        <div class="col-6 text-end px-0">
                            <a class="btn-hover btn text-white py-2 px-4" href="#">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- 인기 지역 시작 -->
<div class="container-fluid ExploreTour py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Hot places</h5>
            <h1 class="mb-4">인기 지역 Top6</h1>
            <p class="mb-0">리뷰 별점이 높은 숙소들을 소개합니다 !
            </p>
        </div>
        <div class="tab-class text-center">
            <div class="tab-content">
                <div class="tab-pane fade show p-0 active" id="NationalTab-1">
                    <div class="row g-4" id="popular-area"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 인기 지역 끝 -->

<!-- 유튜브 추천 -->
<article class="container-fluid gallery py-5 my-5" id="youtube-container">
    <div class="mx-auto text-center mb-5" style="max-width: 900px;">
        <h5 class="section-title px-3">Recommendations</h5>
        <h1 class="mb-4">추천 여행지</h1>
        <p class="mb-0">떠나고 싶지만, 아직 여행지를 정하지 못하셨나요? 당신을 위한 Youtube 여행지 추천!</p>
    </div>
    <div class="tab-class text-center">
        <div class="tab-content">
            <div class="tab-pane fade show p-0 active" id="GalleryTab-1">
                <div class="row g-2" id="youtube" style="display: flex; justify-content:center"></div>
            </div>
        </div>
    </div>
</article>
<!-- 유튜브 추천 끝 -->

<footer th:replace="~{/layout/footer::footerFragment}"></footer>

<script src="/js/main.js"></script>
<script src="/js/index.js"></script>
<script src="/js/popularRegion.js"></script>
</body>

</html>