<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/register.css">
</head>
<body>
<div class="container right-panel-active height-500">
    <!-- Sign Up -->
    <div class="container__form container--signup sign-up">
        <form action="/member/register" class="form" id="form1" method="post">
            <h2 class="form__title">Sign Up</h2>
            <input type="text" placeholder="이름" class="input" name="name"/>
            <div style="display: flex">
                <input type="email" placeholder="Email" class="input" name="email"/>
                <button type="button" style="margin-left: 20px">중복확인</button>
            </div>
            <input type="password" placeholder="Password" class="input" name="password" />
            <input type="password" placeholder="Password 확인" class="input">
            <span class="error-message"></span>
            <fieldset>
                <label for="user-register">이용자</label>
                <input type="radio" id="user-register" name="role" value="이용자"/>
                <label for="accommodation-provider-register">숙박업자</label>
                <input type="radio"  id="accommodation-provider-register" name="role" value="숙박업자"/>
            </fieldset>
            <input type="tel" placeholder="Phone Number" name="phone" pattern="[0-9]{11}" required class="input">
            <small>생일</small>
            <input type="date" value="2017-06-01" class="input" name="birthDate" >
            <button class="btn" type="submit">Sign Up</button>
        </form>
    </div>

    <!-- Sign In -->
    <div class="container__form container--signin">
        <form action="/member/login" method="post" class="form" id="form2">
            <h2 class="form__title">Sign In</h2>
            <input type="email" placeholder="Email" class="input email" name="email"/>
            <input type="password" placeholder="Password" class="input password" name="password"/>
            <a href="#" class="link">Forgot your password?</a>
            <button type="submit" class="btn sign-in-button">Sign In</button>
        </form>
    </div>

    <!-- Overlay -->
    <div class="container__overlay">
        <div class="overlay">
            <div class="overlay__panel overlay--left">
                <button class="btn" id="signIn">Sign In</button>
            </div>
            <div class="overlay__panel overlay--right">
                <button class="btn" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>
<script defer src="/js/register.js"></script>
</body>
</html>