<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Travela - Tourism Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&family=Roboto&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

<div th:replace="~{/layout/top-bar :: top}"></div>
<div th:replace="~{/layout/navigation-bar :: nav}"></div>

<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-white display-3 mb-4">예약 내역</h3>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="/">홈</a></li>
            <li class="breadcrumb-item"><a href="#">My Page</a></li>
            <li class="breadcrumb-item active text-white">예약 내역</li>
        </ol>
    </div>
</div>
<!-- Header End -->

<!-- my accommodations list Start -->
<div class="container-fluid bg-light service py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">내 예약 관리</h5>
            <h1 class="mb-0">my reservations</h1>
        </div>
        <div class="row g-3">
            <div class="text-center" th:if="${reservationList.size()==0}">
                <h3 class="mb-0"><strong>예약내역이 없습니다!</strong></h3>
            </div>
            <!-- accodion start-->
            <div class="accordion" id="accordionFlushExample" th:each="reservation,reservationStat:${reservationList}">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button aria-expanded="false" class="accordion-button collapsed" data-bs-toggle="collapse"
                                th:aria-controls="'flush-collapse'+${reservationStat.index}" th:data-bs-target="'#flush-collapse'+${reservationStat.index}"
                                th:text="${reservation.getAccommodation().getName()}+'-'+${reservation.getRoom().getName()} + '(' + ${reservation.getStartDate()}+' ~ ' + ${reservation.getEndDate()} + ')'"
                                type="button">
                        </button>
                    </h2>
                    <div class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample"
                         th:aria-labelledby="'flush-heading'+${reservationStat.index}"
                         th:id="flush-collapse+${reservationStat.index}">
                        <div class="accordion-body">
                            <div class="card">
                                <h5 class="card-header"><strong>예약 상세 정보</strong></h5>
                                <div class="card-body">
                                    <div class="table-responsive text-nowrap">
                                        <table class="table table-bordered">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <strong>숙소명</strong>
                                                </td>
                                                <td th:text="${reservation.getAccommodation().getName()}"></td>
                                                <td>
                                                    <strong>객실명</strong>
                                                </td>
                                                <td th:text="${reservation.getRoom().getName()}"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>가격</strong>
                                                </td>
                                                <td th:text="${reservation.getRoom().getCost()}+'원'"></td>
                                                <td>
                                                    <strong>인원 수</strong>
                                                </td>
                                                <td>1</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>예약일자</strong>
                                                </td>
                                                <td th:text="${reservation.getStartDate()}+ ' ~ ' + ${reservation.getEndDate()}"></td>
                                                <td>
                                                    <strong>예약 상태</strong>
                                                </td>
                                                <td th:text="${reservation.getStatus()}">대기</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>숙박업소 전화번호</strong>
                                                </td>
                                                <td th:text="${reservation.getAccommodation().getMember().getPhone()}"></td>
                                                <td>
                                                    <strong>숙박업소 이메일</strong>
                                                </td>
                                                <td th:text="${reservation.getAccommodation().getMember().getEmail()}"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>예약자명</strong>
                                                </td>
                                                <td th:text="${reservation.getLoginMember().getName()}"></td>
                                                <td>
                                                    <strong>예약자 전화번호</strong>
                                                </td>
                                                <td th:text="${reservation.getLoginMember().getPhone()}"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>예약자 이메일</strong>
                                                </td>
                                                <td colspan="3" th:text="${reservation.getLoginMember().getEmail()}"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>요청 사항</strong>
                                                </td>
                                                <td colspan="3" th:text="${reservation.getRequest()}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="text-md-end">
                                        <button type="button" class="btn btn-primary" th:if="${reservation.getStatus()=='대기' or reservation.getStatus()=='완료'}" th:onclick="|location.href='@{/reservation/renew/{reservationId}(reservationId=${reservation.getId()})}'|">예약 수정</button>
                                        <button type="button" class="btn btn-danger" th:if="${reservation.getStatus()=='대기' or reservation.getStatus()=='완료'}" th:onclick="'cancelReservation(' + ${reservation.getId()} + ')'">예약 취소</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- accodion end -->
        </div>
    </div>
</div>
<!-- my accommodation list End -->

<!-- Back to Top -->
<a class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top" href="#"><i class="fa fa-arrow-up"></i></a>

<footer th:replace="~{/layout/footer::footerFragment}"></footer>

<!-- JavaScript Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/lightbox/js/lightbox.min.js"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
<script src="/js/reservationList.js"></script>
</body>

</html>