<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Travela - Tourism Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&family=Roboto&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/reservationForm.css" rel="stylesheet">

    <style>
        /* 날짜 선택기의 날짜 크기 조정 */
        .datepicker table tr td,
        .datepicker table tr th {
            font-size: 23px;
            font-weight: bold;
        }

        /* 날짜를 더 진하게 */
        .datepicker table tr td.active,
        .datepicker table tr td.active:hover,
        .datepicker table tr td.active.disabled,
        .datepicker table tr td.active.disabled:hover,
        .datepicker table tr td.active:active,
        .datepicker table tr td.active:hover:active,
        .datepicker table tr td.active.disabled:active,
        .datepicker table tr td.active.disabled:hover:active {
            background-color: rgba(0, 0, 0, 0.2); /* 진한 회색 배경 */
        }

        /* 달력 크기 조정 */
        .datepicker {
            width: 275px; /* 적당한 크기로 조정하세요 */
        }
    </style>

</head>

<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

<div th:replace="~{/fragment/top-bar :: top}"></div>
<div th:replace="~{/fragment/navigation-bar :: nav}"></div>

<!-- Tour Booking Start -->
<div class="container-fluid booking py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-8">
                <h1 class="text-white mb-3">심사 숙고 후 예약 해주세요</h1>
                <div>
                    <div class="container pb-0">
                        <div class="row g-3">
                            <div class="col-lg-12">
                                <div class="row g-3">
                                    <div class="border rounded p-3">
                                        <div class="container pb-0">
                                            <div class="img-container">
                                                <img src="/img/explore-tour-1.jpg"
                                                     class="img-fluid w-35 mx-auto rounded d-block"
                                                     alt="Image">
                                            </div>
                                            <div class="row g-3">
                                                <div class="col-md-6 text-md-start text-center text-white" style="font-size: 20px;" th:text="${room.name}">
                                                    객실명
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row g-3 justify-content-end">
                                                        <div class="col-md-3 text-white text-md-end text-center" style="font-size: 15px;">
                                                            또 뭐
                                                        </div>
                                                        <div class="col-md-3 text-white text-md-end text-center" style="font-size: 15px;" th:text="${room.cost}">
                                                            가격
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 text-md-start text-center text-white" style="font-size: 20px;">
                                                </div>
                                                <div class="col-md-10">
                                                    <div class="row g-3 justify-content-end">
                                                        <div class="col-md-3 text-white text-md-end text-center" style="font-size: 15px;">
                                                            체크인 : 15:00
                                                        </div>
                                                        <div class="col-md-3 text-white text-md-end text-center" style="font-size: 15px;">
                                                            체크 아웃 : 10:00
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 border rounded p-3">
                                                    <div class="mb-2 text-white" th:text="${room.useGuide}">
                                                        객실 이용 가이드를 넣으세요. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                        Nullam auctor, arcu nec finibus fermentum, turpis felis lacinia neque, vitae
                                                        tincidunt felis ante at eros. In ultricies auctor mauris. Integer ut viverra
                                                        libero. Integer aliquet scelerisque erat nec vehicula. Quisque eleifend
                                                        euismod libero, sed vulputate enim bibendum ac. Suspendisse potenti. Sed
                                                        quis mi ac purus consequat eleifend. Phasellus eget varius enim. Fusce sit
                                                        amet ligula non est consectetur blandit. Cras porttitor augue nec arcu
                                                        aliquet, vel fringilla nisl viverra. Ut tincidunt nisi sit amet libero
                                                        condimentum, nec scelerisque eros fermentum.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form>
                    <p class="text-white mb-4 py-3"> <span class="text-warning"> 예약 가능한 날짜를 선택 해 주세요.</span></p>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating date" id="date3" data-target-input="nearest">
                                <input th:attr="data-unselectable_dates=${reservationUnable.getCheckInUnselectableDate()}" type="text" id="date-picker1" class="form-control bg-white border-0 small" aria-label="Search" aria-describedby="basic-addon2">
                                <label>입실 일</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating date" id="date4" data-target-input="nearest">
                                <input th:attr="data-unselectable_dates=${reservationUnable.getCheckOutUnselectableDate()}" type="text" id="date-picker2" class="form-control bg-white border-0 small" aria-label="Search" aria-describedby="basic-addon2">
                                <label>퇴실 일</label>
                            </div>
                        </div>
                        <input type="button" id="clear-dates-btn" value="Clear Dates">
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control bg-white border-0" placeholder="요청 사항" id="message" style="height: 100px"></textarea>
                                <label for="message">요청 사항</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary text-white w-50 py-3" type="submit">예약!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Tour Booking End -->


<!-- Copyright Start -->
<div class="container-fluid copyright text-body py-4">
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-md-6 text-center text-md-end mb-md-0">
                <i class="fas fa-copyright me-2"></i><a class="text-white" href="#">심사숙박</a>, All right reserved.
            </div>
            <div class="col-md-6 text-center text-md-start">
                <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
                <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
                <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
                Designed By <a class="text-white" href="https://htmlcodex.com">HTML Codex</a> Distributed By <a href="https://themewagon.com">ThemeWagon</a>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Copyright End -->

<!-- Back to Top -->
<a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i class="fa fa-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/lightbox/js/lightbox.min.js"></script>

<!--datepicker load-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ko.min.js" integrity="sha512-L4qpL1ZotXZLLe8Oo0ZyHrj/SweV7CieswUODAAPN/tnqN3PA1P+4qPu5vIryNor6HQ5o22NujIcAZIfyVXwbQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.standalone.min.css">

<!-- Template Javascript -->
<script src="/js/main.js"></script>
<script>
    // 하드코딩
    // const datesDisabledCheckIn = ['2024-05-05', '2024-05-06', '2024-05-07', '2024-05-09', '2024-05-10', '2024-05-11', '2024-05-14', '2024-05-20', '2024-05-21', '2024-05-22', '2024-05-23', '2024-05-24'];
    // const datesDisabledCheckOut = ['2024-05-06', '2024-05-07', '2024-05-08', '2024-05-10', '2024-05-11', '2024-05-12', '2024-05-15', '2024-05-21', '2024-05-22', '2024-05-23', '2024-05-24', '2024-05-25'];
    var datesCheckInString = $('#date-picker1').data('unselectable_dates');
    var datesCheckOutString = $('#date-picker2').data('unselectable_dates');
    const datesDisabledCheckIn = JSON.parse(datesCheckInString.replace(/\[/g, '["').replace(/\]/g, '"]').replace(/, /g, '", "'));
    const datesDisabledCheckOut = JSON.parse(datesCheckOutString.replace(/\[/g, '["').replace(/\]/g, '"]').replace(/, /g, '", "'));

    $(function() {
        var selectedDate1 = null;
        var selectedDate2 = null;

        $('#date-picker1').datepicker({
            format: "yyyy-mm-dd",
            startDate: '0d',
            endDate: '+1y',
            datesDisabled: datesDisabledCheckIn,
            todayHighlight: true,
            toggleActive: true,
            weekStart: 0,
        }).on('changeDate', function(selected) {
            selectedDate1 = selected.date; // 선택한 날짜를 변수에 저장
            // console.log(selectedDate1);

            var disabledDates = datesDisabledCheckIn;
            console.log(datesDisabledCheckIn);
            console.log(disabledDates);
            var nextAvailableDate = null;

            const isValidDate = function(value) {
                return value instanceof Date && !isNaN(value);
            }

            for (var i = 0; i < disabledDates.length; i++) {
                var disabledDate = new Date(Date.parse(disabledDates[i]));
                // console.log("disalbedDate : " + isValidDate(disabledDate) + "," + disabledDate);
                // console.log("selectedDate : " + isValidDate(selectedDate1));
                // console.log("disalbedDate" + typeof disabledDate);
                // console.log("selectedDate" + typeof selectedDate1);
                if (disabledDate > selectedDate1) {
                    nextAvailableDate = disabledDate;
                    break;
                }
            }
            console.log(nextAvailableDate);

            if (nextAvailableDate) {
                var startDatePicker2 = new Date(selectedDate1);
                startDatePicker2.setDate(startDatePicker2.getDate() + 1); // 선택한 날짜에서 하루를 더함
                $('#date-picker2').datepicker('setStartDate', startDatePicker2); // #date-picker1에서 선택한 날짜로 시작
                $('#date-picker2').datepicker('setEndDate', nextAvailableDate);
            } else {
                var startDatePicker2 = new Date(selectedDate1);
                startDatePicker2.setDate(startDatePicker2.getDate() + 1); // 선택한 날짜에서 하루를 더함
                $('#date-picker2').datepicker('setStartDate', startDatePicker2);
                $('#date-picker2').datepicker('setEndDate', null);
            }
        });

        $('#date-picker2').datepicker({
            format: "yyyy-mm-dd",
            startDate: '0d',
            endDate: '+1y',
            datesDisabled: datesDisabledCheckOut,
            todayHighlight: true,
            toggleActive: true,
            weekStart: 0,
        }).on('changeDate', function(selected) {
            selectedDate2 = selected.date; // 선택한 날짜를 변수에 저장

            var disabledDates = datesDisabledCheckOut;
            var nextAvailableDate = null;

            for (var i = disabledDates.length - 1; i >= 0; i--) {
                var disabledDate = new Date(disabledDates[i]);
                if (disabledDate < selectedDate2) {
                    nextAvailableDate = disabledDate;
                    break;
                }
            }

            if (nextAvailableDate) {
                var startDatePicker2 = new Date(selectedDate2);
                startDatePicker2.setDate(startDatePicker2.getDate() - 1);
                $('#date-picker1').datepicker('setStartDate', nextAvailableDate);
                $('#date-picker1').datepicker('setEndDate', startDatePicker2);
            } else {
                var startDatePicker2 = new Date(selectedDate2);
                startDatePicker2.setDate(startDatePicker2.getDate() - 1);
                $('#date-picker1').datepicker('setStartDate', null);
                $('#date-picker1').datepicker('setEndDate', startDatePicker2);
            }
        });

        $('#clear-dates-btn').on('click', function() {
            clearDates();
        });

        function updateDatePicker1() {
            $('#date-picker1').datepicker('setStartDate', selectedDate1 ? selectedDate1 : '0d');
            $('#date-picker1').datepicker('setEndDate', selectedDate2 ? selectedDate2 : '+1y');
        }

        function updateDatePicker2() {
            $('#date-picker2').datepicker('setStartDate', selectedDate1 ? selectedDate1 : '0d');
            $('#date-picker2').datepicker('setEndDate', selectedDate2 ? selectedDate2 : '+1y');
        }

        function clearDates() {
            selectedDate1 = null;
            selectedDate2 = null;
            $('#date-picker1').datepicker('clearDates');
            $('#date-picker2').datepicker('clearDates');
            updateDatePicker1();
            updateDatePicker2();
        }
    });
</script>

</body>




</html>